<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >

<head th:fragment="head(page_title)" lang="en">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes"/>
    <meta name="description" content="Star Wars Dice Roller"/>
    <meta name="author" content="nerdyITweb"/>


    <!-- Bootstrap core CSS -->
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link th:href="@{/css/simple-sidebar.css}" rel="stylesheet"/>
    <link th:href="@{/css/star-wars.css}" rel="stylesheet"/>
    <link th:href="@{/css/fonts/boba-fonts/Starjedi.ttf}" rel='stylesheet' type='text/css'/>


    <title>Star Wars  ||  Dice Roller</title>
</head>

<body th:style="'background: url(' + @{/img/star_wars_force_and_destiny.jpg} + ')'">

<div id="wrapper" >

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a th:href="@{/}">
                   <span >DICE ROLLER</span>
                </a>
            </li>
            <li>
                <a href="#">DICE</a>
            </li>
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">CONTACT</a>
            </li>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper " class="text-background" >
        <div class="container-fluid"  >

            <h1>STAR WARS DICE ROLLER</h1>
            <p> MAY THE ROLL BE WITH YOU!</p>

            <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle">SIDEBAR</a>

        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Bootstrap core JavaScript -->
<script th:src="@{/vendor/jquery/jquery.min.js}"></script>
<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

<!-- Menu Toggle Script -->
<script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
</script>

</body>

</html>
